<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"> {% block meta %}
    <!-- block meta -->{% endblock %}
    <title>{% block title %} ? {% endblock %} - Lzm Blog</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="http://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
    <script src="http://cdn.bootcss.com/crypto-js/3.1.2/components/core-min.js"></script>
    <script src="http://cdn.bootcss.com/crypto-js/3.1.2/components/sha1.js"></script>
    <link href="/static/css/blog.css" rel="stylesheet">
    <link href="/static/css/sign.css" rel="stylesheet" />
    <!-- <link href="/static/css/style.css" rel="stylesheet"> -->
    {% block beforehead %}
    <!-- before head -->{% endblock %}
</head>

<body>
    <div class="blog-masthead">
        <div class="container">
            <nav class="blog-nav">
                <a class="blog-nav-item active" href="#">Home</a>
                <a class="blog-nav-item" href="#">About</a>
            </nav>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-8 blog-main">
                <!-- content -->
                {% block content %} {% endblock %}
                <!-- // content -->
            </div>
        </div>
    </div>

</body>

</html>
