{% extends '__base__.html' %} {% block title %}Register{% endblock %} {% block beforehead %}
<script>
    $(function() {
        $("#signin_form").validate({
            rules: {
                nameOrEmail: "required",
                password: {
                    required: true,
                    minlength: 5
                }
            },
            messages: {
                nameOrEmail: {
                    required: "Enter a username",
                },
                password: {
                    required: "Provide a password",
                    minlength: jQuery.validator.format("Enter at least {0} characters")
                }
            },
            errorPlacement: function(error, element) {
                error.appendTo(element.parent().next())
            },
            submitHandler: function(form) {
                var data = {};
                data['nameOrEmail'] = $('#nameOrEmail').val();
                data['passwd'] = CryptoJS.SHA1($('#password').val()).toString()
                $.ajax({
                    type: 'POST',
                    url: "/api/authenticate",
                    data: JSON.stringify(data),
                    contentType: 'application/json; charset=UTF-8',
                    dataType: 'json',
                    success: function(data) {
                        location.assign('/');
                    },
                    error: function(xhr, status, error) {
                        $("div.status").replaceWith("<p style=\"padding-top:5px;color:#EA5200;font-size:14px;font-weight:bold;padding-left:39px;height:20px\">Wrong username or password.</p>");
                        $("#signin_form")[0].reset();
                        $("input").focus(function() {
                            $("p").replaceWith("<div class=\"status\"></div>");
                        });
                    }
                });
            }
        });
    });
</script>
{% endblock %} {% block content %}
<!-- Top content -->
<div class="container">
    <form class="form col-sm-offset-4 col-sm-4" role="form" id="signin_form">
        <h3 class="form-title">Sign in</h3>
        <hr>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="text" class="form-control" placeholder="Username or Email" id="nameOrEmail" name="nameOrEmail" autofocus="autofocus" maxlength="50" />
            </div>
            <div style="height:20px"></div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input type="password" class="form-control" placeholder="Password" id="password" name="password" maxlength="50" />
            </div>
            <div class="status"></div>
        </div>
        <button type="submit" class="btn btn-primary center-block" id="register_btn">SIGN IN</button>
    </form>
</div>

{% endblock %}
